<div class="toolbar">
    <span>Search:</span>   <input class="search" type="text" />
    <span class="toggle-button"><a href="#viewMode/grid" class="grid-view active">Grid</a><a  href="#viewMode/list" class="list-view">List</a></span>
</div>

<div id="course-form-div">
   <form id="course-form">
       <span class="label">Icon:</span> <input name="icon" type="text" maxlength="1"/>  <br/>
        <span class="label">Name:</span> <input name="name" type="text"/>  <br/>
        <span class="label">Description:</span> <input name="description" type="text"/>   <br/>
        <input class="save-btn" type="button" value="Save"/>
   </form>
</div>
<div id="course-list"></div>