.course-wrapper{
    display: inline-block;
    width: 30%;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px 10px 0;
    min-height: 70px;
}

.course-wrapper .clogo, .course-row .clogo {
    vertical-align: top;
    display: inline-block;
    border-radius: 999px;
    width: 18px;
    height: 18px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

.course-wrapper  .course-name{
    padding-bottom: 10px;
    font-weight: bold;
}

.course-wrapper  .course-desc{
    display: inline-block;
    max-width: 80%;
}
.course-wrapper  .course-name button{
   float: right;
}

/* list view */
.course-row{
    padding-top: 10px;
}
.course-row  .course-name{
    display: inline-block;
    width: 18%;
    padding-left:5px;
}

.course-row  .course-desc{
    display: inline-block;
    width: 25%;
}
.course-row .clogo{
    margin-top: -5px;
}
.course-row  .course-action {
    display: inline-block;
    width: 10%;
}
.course-row.header{
    font-weight: bold;
}
.course-row.header .clogo{
    visibility: hidden;
}
.course-row.header .course-name{
    padding-left:10px;
}

/* tool bar*/
.toolbar{
    padding-bottom: 10px;
}

.toolbar .toggle-button{
    margin-left:50px;
}

.toolbar .toggle-button span{
    padding:2px 5px;
    border: 1px solid #BBB;
    cursor: pointer;
}

.toolbar .toggle-button span.active{
    background-color:yellow;
    font-weight: bold;
}

/* form */
#course-form .label {
    width: 100px;
    display: inline-block;
}
#course-form {
    padding: 20px;
    border: 1px solid #AAA;
    width: 30%;
    margin-bottom: 20px;
}
