.course-wrapper{
    display: inline-block;
    width: 30%;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px 10px 0;
    min-height: 70px;
}

.course-wrapper .clogo {
    vertical-align: top;
    display: inline-block;
    border-radius: 999px;
    width: 18px;
    height: 18px;
    padding: 4px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

.course-wrapper  .course-name{
    padding-bottom: 10px;
    font-weight: bold;
}

.course-wrapper  .course-desc{
    display: inline-block;
    max-width: 80%;

}

.toolbar{
    padding-bottom: 10px;
}